h1 {
    margin-bottom: 20px;
}

span > h1 {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-color: white;
    display: inline;
    padding: 0 8px;
    color: black;
}

h2 {
    margin-top: 48px;
    margin-bottom: 12px;
}

h3 {
    font-size: 1.2em;
    margin-top: 18px;
    margin-bottom: 12px;
}

h4 {
    margin-top: 16px;
    margin-bottom: 8px;
}

p {
    margin-top: 0.5em;
}

ol, ul {
    margin: 0px;
}

li:not(:last-child) {
    margin-bottom: 8px;
}

li:first-child {
    margin-top: 0.5em;
}

img:not(.article-img) {
    margin-top: 24px;
    border: 1px solid #f0f0f0;
}

button {
    color: white;
    background-color: black;
}

article {
    border-color: black;
}

.img-description {
    color: #6b6b6b;
    font-size: 0.9em;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    margin-bottom: 24px;
    /* font-style: italic; */
}

.project-header {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 16px 12px;
}

.project-header.p1 {
    background-image: url('/assets/gradient-p1.jpg');
}

.project-header.p2 {
    background-image: url('/assets/gradient-p2.jpg');
}

.article-image {
    border-color: black;
}

/* .description.nda {
    margin: 12px 0px;
} */

/* DESKTOP */
@media (min-width: 501px) {

}

/* MOBILE */
@media (max-width: 500px) {

}