@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.3;
    color:#212121;
    text-decoration: none;
    overflow-x: hidden;
}

body {
    margin: 0px;
}

section {
    padding-top: 48px;
    padding-bottom: 60px;
}

header {
    margin: 36px 0px;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 36px;
}

footer a {
    margin: 0px 12px;
    text-decoration: none;
    color: #212121;
}

img {
    width: 100%;
    object-fit: contain;
    vertical-align: middle;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    margin: 0px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 24px;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 18px;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 12px;
}

h4 {
    margin-bottom: 8px;
}

p {
    line-height: 1.7;
    margin: 0px;
    margin-bottom: 24px;
}

mark {
    background-color: #D9E8FF;
}

.section-content, footer {
    max-width: 800px;
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.max-height {
    max-height: 540px;
}

.img-frame {
    background-color: #ffffff;
}

.p-highlight {
    font-size: 1.25rem;
}

.desktop-only {
    display: inherit;
}

.img-highlight {
    margin: 0px -120px;
    max-width: 1080px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-link:hover {
    color: #22f;
}

.base-shadow {
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.12)) drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
}

.hero-shadow{
    filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.2)) drop-shadow(0px 6px 14px rgba(0, 0, 0, 0.1));   
}

.hero-img {
    clip-path: inset(0 0);
    text-align: center; 
}

.hero-img.hackathon {
    padding-top: 25px;   
}

.hero-img.landing-page{
    padding: 25px 0px;
}

.hero-img img {
    max-width: 800px;
    padding: 0 20px;
    object-fit: contain;
    display: inline-block;
}

.content-end {
    margin-bottom: 0px;
}

.text-link {
    text-decoration: underline;
}

.overview-title {
    text-transform: uppercase;
    color: #999;
}

.overview-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.overview-detail {
    margin-bottom: 0px;
}

.overview-detail p {
    margin: 0px;
}

.overview-detail .title {
    margin-bottom: 8px;
}

.overview-text {
    margin-bottom: 36px;
}

.title {
    font-size: 0.75rem;
    line-height: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    color: #5f6368;
}

.text-block {
    display: inline-block;
}

.no-margin {
    margin: 0px;
}

.no-padding-bottom {
    padding-bottom: 0px;
}

.details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grey-bg {
    background-color: #FAFAFA;
}

/* Case teasers */

.case {
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 6px;
    margin-bottom: 24px;
}

.case-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 48px;
}

.case-title {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 6px;
}

.case-subtitle {
    font-size: 1.25rem;
    line-height: 1.3;
    margin-bottom: 0px;
}

.landing-page {
    background-color: #4690FC;
}

.case-img {
    background-repeat: no-repeat;
    background-position-x: right;
    text-indent: -99999;
}

.landing-page .case-img {
    background-position-y: center;
    background-image: url("source/landing-page/lp-teaser.png");
    background-size: auto 100%;
    margin: 24px 0px;
    object-fit: contain;

}

.hackathon .case-img {
    background-position-y: top;
    margin-top: 24px;
    background-image: url("source/hackathon/hackathon-teaser.png");
    background-size: 228px auto;
    /*justify-self: end;*/
}

.hackathon {
    background-color: #FEE236;
}

.sensors {
    /*
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    */
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.sensor-container {
    width: 140px;
    display: flex;
    align-items: center;
    /*
    padding: 6px;
    background-color: white;
    border-radius: 5px;
    */
}

.sensor-icon{
    width: 48px;
    height: 48px;
    margin-right: 6px;
}

.sensor-name {
    font-size: 15px;
}

/*
@media only screen and (max-width: 880px) {
    .sensors {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
*/

@media only screen and (max-width: 600px) {
    header {
        margin: 30px 0px;
    }

    footer {
        flex-direction: column;
        text-align: left;
        padding-bottom: 30px;
    } 
    
    .case {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 7fr;
    }

    .case-title {
        font-size: 1.25rem;
    }

    .case-text {
        text-align: center;
        grid-row: 1/2;
        padding: 18px 6px 0px 6px;
        justify-content: start;
    }

    .case-img {
        grid-row: 2/3;
        background-repeat: no-repeat;
        background-position-y: top;
        text-indent: -99999;
    }

    .desktop-only {
        display: none;
    }

    .landing-page .case-img {
        /*background-size: 226px auto;*/
        background-position-x: right;
        margin-right: 18px;
    }

    .hackathon .case-img {
        background-position-x: center;
    }

    .overview {
        display: inline-block;
    }

    .overview-details {
        display: flex;
        flex-direction: column;
    }

    .overview-detail {
        margin-bottom: 24px;
    }

    .overview-detail:last-child {
        margin-bottom: 0px;
    }

    .footer-links {
        flex-direction: column;
        justify-content: left;
    }

    .footer-link {
        margin: 0px 0px 6px 0px;
    }

    /*
    .sensors {
        grid-template-columns: repeat(2, 1fr);
    }
    */
}