@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

h1 {
    font-family: 'Merriweather', serif;
}

.page-container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}