@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 32px;
    margin-top: 60px;
}

h3 {
    font-size: 24px;
    margin-top: 40px;
}

h1, h2, h3, p {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 21px;
    line-height: 32px;
}

img {
    width: 100%;
    max-height: 75vh;
    object-fit: contain;
}

.page-container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.img-container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.img-subtitle, .img-subtitle > a {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #777;
}